import PropTypes from 'prop-types'
import React from 'react'
import classnames from 'classnames'

import './{{ pascalCase componentName }}.scss'

export interface I{{ pascalCase componentName }}Props {
  className: string
}

function {{ pascalCase componentName }}({ className = '' }: I{{ pascalCase componentName }}Props) {
  const classes = classnames(
    'atom__{{ dashCase componentName}}',
    className,
  )

  return (
    <div className={classes}>{{componentName}}</div>
  )
}

{{ pascalCase componentName }}.propTypes = {
  className: PropTypes.string
}

export default {{ pascalCase componentName }}